# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials
.aws/

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
